---
layout: devel-theme
title: vitan.github.io ~ Zhou Weitao on the Internet
---

{% for post in site.posts %}
    <div class="row">
        <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <!--TODO: posts excerpt elgant solution -->
        <p class="clearfix hidden-xs">{{ post.excerpt }}</p>
        <p>
            <span class="glyphicon glyphicon-calendar"></span>
            {{ post.date | date: "%b %d, %Y" }} |
            <span class="glyphicon glyphicon-tags"></span>
            {% for tag in post.tags %}
            <span class="text-info">
                {{ tag }}
            </span>
            {% endfor %}
        </p>
        <p class="clearfix hidden-xs">
            <a href="{{ post.url }}">Read More</a>
        </p>
    </div>
{% endfor %}
