<h1 class="header-line">POSTS</h1>
    <ul class="tabs">
        <li><a href="#" class="current">Recent posts</a></li>
        <li><a href="#">Golden posts</a></li>
    </ul>
    <div class="panes">
        <div style="display: block;">
            <ul class="blocks-list">	
                <li>
                <div class="the-excerpt">
                    <strong>POST1</strong>
                    <p>post 1</p>
                    <a href="#" class="link-arrow">Read more →</a>
                </div>
                </li>
                <li>
                <div class="the-excerpt">
                    <strong>POST2</strong>
                    <p>post 2</p>
                    <a href="#" class="link-arrow">Read more →</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
<h1 class="header-line">I AM READING</h1>
<ul class="feature-blocks">
    <li class="odd">
    <div class="block">
    </div>
    </li>
</ul>
