<div id="footer">
    <div id="footer-wrapper">
        <ul id="footer-cols">
            <li class="col">
            <h6>Remember your words</h6>
            <div class="textwidget">Some words will be displayed here.</div>
            </li>
            <li class="col">
            <h6>Recent Posts</h6>
            <ul>
                <li>
                <a href="#" title="Coco heart">Here I will give the recently posted article link</a>
                </li>
            </ul>
            </li>
            <li class="tag-list-labels">
            <h6>Tags</h6>
            <ul class="wp-tag-cloud">
                <li><a href="#" class="tag-link-18" title="1 topic" style="font-size: 12px;">Tag perfect cloud</a></li>
            </ul>
            </li>
        </ul>
        <div id="footer-bottom">
            <div id="bottom-left">© 2013 Zhou Weitao All Rights Reserved. </div>
            <div id="bottom-right">To top</div>
        </div>
    </div>
</div>
