<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {% if page.title %} {{ page.title }} | {% endif %}Vitan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Vitan's BLOG">
        <meta name="author" content="weitao zhou">
        <!-- baidu verification for included -->
        <meta name="baidu-site-verification" content="WZy2J6t9TJ" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/project.css">
        <style type="text/css">
            body{ padding-top: 70px; }
        </style>
    </head>
