<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="navbar-header">
		<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
		<a class="navbar-brand" href="http://vitan.github.io">VITAN'S BlOG</a>
	</div>
	<div class="navbar-collapse collapse navbar-collapse-scrollable navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://vitan.github.io" class="glyphicon glyphicon-home">Home</a></li>
			<li><a href="#" class="glyphicon glyphicon-book">Projects</a></li>
			<li><a href="#" class="glyphicon glyphicon-globe">Social</a></li>
		</ul>
	</div>
</nav>