<div id="sidebar">
    <div class="media">
        <a class="pull-left" href="http://gravatar.com/emails/">
            <img class="img-rounded img-responsive media-object" src="https://secure.gravatar.com/avatar/6420bc15b33383234c77c07f9fbe768c?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Weitao Zhou" height="100" width="100">
        </a>
        <div class="media-body">
            <p class="media-heading">
                A coder experienced some failed projects.
                Always dream of jumping over people and slam dunk in their face.
                Interested to Machine Learning but working on web development.
            </p>
        </div>
    </div>
    <div>
        <address>
            <strong class="glyphicon glyphicon-user">
                Weitao Zhou<br>
                <p class="text-muted">
                    Vitan
                </p>
            </strong>
        </address>
        <p class="text-primary glyphicon glyphicon-pencil">Python, C++, JS, Shell</p>
        <address>
            <strong class="glyphicon glyphicon-map-marker">Red Hat, Inc.</strong><br>
            Beijing, China<br>
            <a href="mailto:zhouwtlord@gmail.com" class="glyphicon glyphicon-envelope">zhouwtlord@gmail.com</a>
        </address>
    </div>
    {% include github-bar.html %}
</div>
