<div id="sidebar">
    <div>
        <a href="http://gravatar.com/emails/">
            <span class="tooltipped downwards" original-title="Change your avatar at gravatar.com">
                <center>
                    <img height="210" src="https://secure.gravatar.com/avatar/6420bc15b33383234c77c07f9fbe768c?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="210" id="logo">
                </center>
            </span>
        </a>
    </div>
    {% include search-form.html %}
    <!-- Navigation -->
    <div>
        <ul id="nav">
            <li>
            <a href="#">HOME</a>
            </li>
            <li>
            <a href="#posts">POSTS</a>
            </li>
            <li><a href="#i-am-reading">I AM READING</a>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
    <!-- ENDS Navigation -->
    <!-- init sidebar -->
    <ul id="widget-sidebar">
        <!-- Page sidebar -->
        <li class="cat-list"><h6>Page sidebar</h6>
        <div class="textwidget">What should live here?</div>
        </li>
        <!-- ENDS page sidebar -->
    </ul>
    <!-- ENDS init sidebar -->
</div>
