<div id="sidebar">
    <a href="http://vitan.github.io"><img src="/img/logo.png" alt="Left Theme" id="logo"></a>
    {% include search-form.html %}
    <!-- Navigation -->
    <div>
        <ul id="nav">
            <li>
            <a href="#">HOME</a>
            </li>
            <li>
            <a href="#">FEATURES</a>
            </li>
            <li><a href="#">OPTIONS PANEL</a>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
    <!-- ENDS Navigation -->
    <!-- init sidebar -->
    <ul id="widget-sidebar">
        <!-- Page sidebar -->
        <li class="cat-list"><h6>Page sidebar</h6>
        <div class="textwidget">What should live here?</div>
        </li>
        <!-- ENDS page sidebar -->
    </ul>
    <!-- ENDS init sidebar -->
</div>
