{% include header.html %}
<body data-spy="scroll">
    {% include nav-bar.html %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                {% include side-bar.html %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                {{ content }}
            </div>
        </div>
    </div>
    <hr>
    <div class="container footer">
        {% include footer.html %}
    </div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
    {% include disqus-embed.js.html %}
    {% include disqus-count.js.html %}
    {% include google-plus.js.html %}
</body>
</html>
