{% include header.html %}
<body class="home">
<div id="wrapper">
    {% include side-bar.html %}
    <div id="main">
        <!-- headline -->
        <div class="home-quotes"><p>ALWAYS REMEMBERING MY WORDS!</p>
            <p>------ZHOU WEITAO</p>
        </div>
        <div id="content">
            <div id="page-content">
                {% include content.html %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
{% include fork-me-on-github.html %}

</body>
</html>
